.wprc-copy-link .tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50px;
}
.wprc-copy-link .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #1c1d1e;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
}
.wprc-copy-link .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1c1d1e transparent transparent transparent;
}
.wprc-copy-link .tooltip .tooltip-visible {
  visibility: visible;
}
.wprc-copy-link .btn-copy {
  height: 50px;
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  transition: all 300ms;
  padding: 0 1rem;
}
.wprc-copy-link .btn-copy:hover {
  background-color: rgba(63, 63, 63, 0.61);
  background-image: linear-gradient(rgba(79, 79, 79, 0.4), rgba(63, 63, 63, 0.5));
  color: #fff;
}
.wprc-copy-link .btn-copy svg {
  vertical-align: middle;
  fill: currentColor;
  width: 1.3rem;
  height: 1.3rem;
  max-width: max-content;
}
.wprc-copy-link .btn-copy:hover svg {
  fill: #fff;
}
.wprc-copy-link .copy-ref-link-input {
  flex-grow: 1;
  height: 50px;
  color: #696969;
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 3px 0 0 3px;
  position: relative;
  text-align: left;
  padding-left: 1.5rem;
  transition: opacity 0.5s;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  font-size: 1em;
  display: table-cell;
  line-height: normal;
  width: 100%;
  overflow: scroll;
  box-sizing: border-box;
}
.wprc-copy-link button, .wprc-copy-link input {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}
.wprc-copy-link .input-group {
  width: 100%;
  display: table;
}
.wprc-copy-link .input-group-button {
  width: 1%;
  vertical-align: middle;
}
.wprc-copy-link .input-group input, .wprc-copy-link .input-group-button {
  display: table-cell;
}
